@{
	ViewData["Title"] = "němecsus";
}

<h1>Blogicsus</h1>
<p>prankus obecný</p>
<img src="https://creativehill.cz/imager/data/contacts/profile/4540/NemecAdam_4810ea2a5466db8b3bcc3da64a0fad25.jpg" alt="němec"/>