@{
    ViewData["Title"] = @Model.CurrentCategory;
}

<div class="container">
    <div>
        <h2>@Model.CurrentCategory</h2>
    </div>
    <div class="game-box">

        @{ foreach (Game game in Model.Games)
            {
    @Html.Partial("GamesSummary", game) } }
    </div>
    </div>
