@{ ViewData["Title"] = "Home Page"; }
@model GameListViewModel
 
        <section class="slider_section">
            <div id="myCarousel" class="carousel slide banner-main" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="first-slide" src="~/img/2021-06-09.jpg" alt="First slide">

                        <div class="carousel-caption relative">
                            <span>All New Games </span>
                            <h2>Lots of games for best prices</h2>
                            <a class="buynow" href="#">Buy Now</a>
                            <ul class="social_icon">
                                <li> <a href="https://www.facebook.com/Bucket-Games-Official-105289231791115/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li> <a href="https://twitter.com/bucketgamesoff1" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li> <a href=" https://www.instagram.com/bucketgamesofficial/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        

        <div class="game-box">

            @{ foreach (Game game in Model.Games.Take(3))
                {
    @Html.Partial("GamesSummary", game) } }
        </div>
