@{ ViewData["Title"] = "About"; }
<!-- about -->
<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5 co-sm-l2">
                <div class="about_img">
                    <figure ><img src="~/img/Metro-Exodus.png" alt="img" class="aboutimg"/></figure>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 co-sm-l2">
                <div class="about_box">
                    <span class="aboutnadpis">Why should you shop on our site?</span>
                    <p class="abouttext">
                        Bucket-games is one of the best site for buying games online if you want to save money.
                        Enjoy our wide range of CD keys for Steam, Origin, Uplay, Battle.net, for the most attractive prices on the market.
                    </p>

                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 co-sm-l2">
                <div class="about_box_ ">
                    <span class="aboutnadpis">Why are keys so cheap?</span>
                    <p class="abouttext">
                        The keys to bucket-games are cheap for a simple reason - Bucket-games is shop with more than 200,000 sellers.
                        All these sellers want the lowest prices, to be able to sell more keys - this creates natural competition and ensures that prices
                        were not high.
                    </p>

                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 co-sm-l2">
                <div class="about_img">
                    <figure ><img src="~/img/Cyberpunk.png" alt="img" class="aboutimg"/></figure>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
<!-- end about -->
